@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля проверете си и-мейла за линк към промяна на паролата.
</p>
