/Data/Migrations
/Services/bin
/Services/obj
/Neonatology/obj
/Neonatology/bin
/Infrastructure/obj
/Infrastructure/bin
/Data.Models/obj
/Data.Models/bin
/Data.Common/obj
/Data.Common/bin
/Data/obj
/Data/bin
/Common/obj
/Common/bin
/Neonatology/appsettings.json
