@model UploadImageModel
@{
    ViewData["Title"] = "Добави снимки";
}

@section Styles{
<link rel="stylesheet" href="~/css/uploadImage.css" />
}

<div class="filesContainer">
    <h2>@ViewData["Title"]</h2>
    <form asp-area="Administration" asp-controller="Gallery" asp-action="Add" enctype="multipart/form-data">
        <div class="file-drop-area">

            <span class="choose-file-button">Изберете файл</span>
            <span class="file-message">или поставете</span>
            <input asp-for="Images" id="fileInput" type="file" class="file-input" accept=".jpg, .jpeg, .png" multiple>
            <button type="submit" class="btn btn-primary">Качи снимките</button>
        </div>
    </form>

    <div id="divImageMediaPreview">
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).on('change', '.file-input', function() {
        var filesCount = $(this)[0].files.length;
        var textbox = $(this).prev();

        if (filesCount === 1) {
           var fileName = $(this).val().split('\\').pop();
           textbox.text(fileName);
        } else {
                textbox.text(filesCount + ' files selected');
        }

        if (typeof (FileReader) != "undefined") {
            var dvPreview = $("#divImageMediaPreview");
            dvPreview.html("");

            $($(this)[0].files).each(function () {
            var file = $(this);
                 var reader = new FileReader();
                 reader.onload = function (e) {
                     var img = $("<img />");
                     img.attr("style", "width: 250px; height:150px; padding: 10px");
                     img.attr("src", e.target.result);

                     dvPreview.append(img);
                 }

                 reader.readAsDataURL(file[0]);
         });
     } else {
         alert("Браузърът Ви не поддържа тази функция.");
     }
  });
</script>
}
