@model UploadImageModel
    <form method="post" enctype="multipart/form-data">
        <div class="row-sm">
            <label asp-for="Images">Качи снимки</label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary hvr-grow" />
    </form>