@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение на промяната на паролата";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата Ви е променена. Моля влезте с акаунта си, като цъкнете <a asp-page="./Login">тук</a>.
</p>
