<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <form asp-action="CreateCheckoutSession" method="POST">
      <button type="submit">Checkout</button>
    </form>
  </body>
</html>