<section class="jumbotron text-center mt-4">
    <div class="container">
        <div class="support-out-icon"><span><i class="fas fa-check-circle"></i></span></div>
        <h1>Успешно заплащане</h1>
        <p>
            Благодарим Ви за заплащането. Ако имате някакви въпроси изпратете и-мейл на:

            <a href="mailto:orders@example.com">pediamed@gmail.com</a>.
        </p>
        <a asp-area="" asp-controller="Home" asp-action="Index"
           class="btn btn-primary my-2"><i class="fas fa-home"></i> Начална страница</a>
    </div>
</section>