@model CreatePatientFormModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-danger" id="carMessage">@this.TempData["Message"]</div>
}

@section head{
<style type="text/css">
    body {
        background-image: url('/img/patient-apply.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
}

<div class="container jumbotron-opacity">
    <h1 class="text-center">Довършете своя профил</h1>
    <hr />
    <form method="post" class="col-md-6 offset-md-3">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-primary mb-2 hvr-grow" />
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}