@section head{
<link href='~/lib/fullcallendar/main.css' rel='stylesheet' />
<script src='~/lib/fullcallendar/main.js'></script>
}

@{
    var userIsDoctor = this.User.IsInRole(DoctorRoleName);
}

<div id='calendar'></div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><span id="eventTitle"></span></h2>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        let events = await attachEvents();

        let calendar = generateCalendar(events);
        calendar.render();

        const day = document.querySelectorAll('td[role="gridcell"]');
        let days = [...day];

        async function attachEvents (){
        let events = [];
            const response = await fetch('/Appointment/GetDoctorAppointments', {
                method: 'Get'
            });

            var eventObjs = await response.json();

            Object.values(eventObjs).forEach(x => {
                events.push({
                    id: x.id,
                    title: x.childFirstName + ' ' + x.appointmentCause,
                    start: x.dateTime,
                    end: x.end,
                    allDay: false
                });
            });

            return events;
        }

        function generateCalendar(events) {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            slotDuration: '00:05:00',
            firstDay: 1,
            allDaySlot: false,
            headerToolbar: {
                center: '',
                end: 'prev,next today'
            },
            locale: 'bg',
            slotMinTime:'09:00',
            slotMaxTime:'14:00',
            businessHours: {
                daysOfWeek: [ 1, 5 ],
                startTime: '09:00',
                endTime: '18:00'
              },
            events: events,
            eventTimeFormat: {
                  hour: '2-digit',
                  minute: '2-digit',
                  meridiem: false,
                  hour12: false
            },
            eventColor: '#378006',
            eventDisplay: 'block',
            eventClick: function(info) {
                const headerSpan = document.getElementById('eventTitle');
                headerSpan.textContent = info.event.title;
                const details = document.getElementById('pDetails');

                const description = document.createElement('div');
                const pStartElement = document.createElement('p');
                const strongStartEl = document.createElement('strong');

                let startStr = new Date(info.event.startStr).toLocaleTimeString();
                let endStr = new Date(info.event.endStr).toLocaleTimeString();
                let date = new Date(info.event.startStr).toLocaleDateString();

                const h4Element = document.createElement('h4');
                h4Element.textContent = 'Дата:' + ' ' + date;

                strongStartEl.textContent = 'Начален час:' + ' ' + startStr;

                const pEndElement = document.createElement('p');
                const strongEndEl = document.createElement('strong');
                strongEndEl.textContent = 'Краен час:' + ' ' + endStr;

                pStartElement.appendChild(strongStartEl);
                pEndElement.appendChild(strongEndEl);

                description.appendChild(h4Element);
                description.appendChild(pStartElement);
                description.appendChild(pEndElement);

                $(details).empty().html(description);
                $('#modal').modal();
            }
          });

          return calendar;
    }
    });
</script>