body {
    margin-top: 20px;
}

.img-circle {
    border-radius: 50%
}

.img-sm {
    width: 46px;
    height: 46px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.chat-action-icon {
    font-size: 1.4em;
    color: floralwhite;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 3px black;
    padding-right: 10px;
}

    .chat-action-icon:hover {
        color: cornflowerblue;
    }

input[type="file"] {
    display: none;
}

span.select-image-badge {
    height: 17px;
    width: 17px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 58px;
    right: 68px;
    text-align: center;
    font-size: 10px;
    line-height: 17.5px;
    color: white;
    font-weight: bold;
}

span.select-file-badge {
    height: 17px;
    width: 17px;
    background-color: deepskyblue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 58px;
    right: 25px;
    text-align: center;
    font-size: 10px;
    line-height: 17.5px;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    div span.select-file-badge {
        top: 46px;
        right: 13px;
    }

    div span.select-image-badge {
        top: 47px;
        right: 57px;
    }
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

div#imageSpinner {
    display: none;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 25px;
    top: 13px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

div#fileSpinner {
    display: none;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #B6290B;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 25px;
    top: 13px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modalChatImage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modalText:hover {
    color: dodgerblue;
}

/* Modal Content (image) */
.imageModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative
}

/* Caption of Modal Image */
.myCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.imageModalContent, .myCaption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.closeImage {
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
}

    .closeImage:hover,
    .closeImage:focus {
        color: blue;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media screen and (max-width: 100%) {
    .imageModalContent {
        width: 100%;
    }
}

.back-to-bottom-chat-body {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    color: white;
    background-color: darkgray;
    border-radius: 50%;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    width: 30px;
    height: 30px;
    text-align: center;
}

    .back-to-bottom-chat-body:hover {
        background-color: white;
        color: darkgray;
    }

    .back-to-bottom-chat-body i {
        padding-top: 3px;
    }
